body {
    background-color: rgba(0, 0, 0, 0.071);
}

.form-control {
    height: 60px;
    background-color: rgba(71, 71, 71, 0.066);
    border-color: rgba(128, 128, 128, 0.027);
    }

.btn-primary {
    background-color: rgba(246, 170, 28, 1);
    border-color: rgba(246, 170, 28, 1);
    border-radius: 8px;
    }

.btn-primary:hover {
    background-color: rgba(246, 170, 28, 0.8);
    border-color: rgba(246, 170, 28, 0.8);
    }

.total-price {
    color: rgba(238, 66, 102, 1);
    }

.section-bg {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    margin-bottom: 20px;
    }